html,
        body {
          width: 100%;
          height: 100%;
          margin: 0px;
          background: #000000;
          top: 0;
          left: 0;
          /* background: url(bg.png);
          background-size: contain; */
        }

        .clock {
          filter: alpha(opacity=70);
          opacity: 0.7;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 800px;
          height: 242.22px;
          margin: auto;
          background: rgba(1, 1, 1, 1);
        }

        .clock img {
          float: left;
          width: 70px;
          margin-left: 15px;
          margin-right: 15px;
        }
