html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  top: 0;
  left: 0;
}
html .clock,
body .clock {
  background: black;
  /* 透明度 */
  filter: alpha(opacity=70);
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 800px;
  height: 242.22px;
  margin: auto;
}
html .clock img,
body .clock img {
  float: left;
  width: 70px;
  margin: 0 15px 0 15px;
}
